<%- include("partials/header"); -%>


























<div class="container-fluid col-11 p-2 mb-5">
  <div class="row gy-3">
    <% birdsdata.map(function(row){ %>
    <div class="col-md-4 col-12 mx-auto">
      <div class="card text-center main-cd">
        <a href="/gallery"><img class="dog-img  m-3" <%- row.img %> alt="images"> </a>
      </div>
      <div class="container-fluid">
        <table class="table">
          <tr>
            <th scope="row">
              <h2> Name </h2>
            </th>
            <td>
              <h2> <%= row.Name %> </h2>
            </td>
          </tr>
          <tr>
            <th scope="row">weight </th>
            <td> <%= row.lifespan %> </td>
          </tr>
          <tr>
            <th scope="row"> lifespan </th>
            <td><%= row.weight %> </td>
          </tr>
          <tr>
            <th scope="row">Height </th>
            <td><%= row.height %> </td>
          </tr>
          <tr>
            <th scope="row">Price </th>
            <td><%= row.price %></td>
          </tr>
        </table>
      </div>
    </div>
    <% }) %>
  </div>
</div>









<div class="container-fluid col-11 p-2 mb-5">
  <div class="row gy-3">

    <div class="col-md-4 col-12 mx-auto">  
    <div class="card text-center" >
      <div class="text-center">
      <a href="/gallery"><img class="dog-img  mt-2" src="images/bird.jpg" alt="images"></a>
      </div>
      <h3>Parrot</h3>
 <pre class="dog-info ">
  <b>Name    : Parrot</b>
  <b>weight  : 1-4pounds</b>
  <b>lifespan: 10-16yers</b>
  <b>Height  : 10-40Cms</b>
  <b>Price  : .....</b>
  </pre>
    </div>
  </div>

  <div class="col-md-4 col-12 mx-auto"> 
    <div  class="card text-center" >
      <div class="text-center">
        <a href="/gallery"><img class="dog-img mt-2 " src="images/woodpecker.jpg" alt="iamges" ></a>
        </div>
      <h3>Woodpecker</h3>
      <pre class="dog-info ">
  <b>Name    : Woodpecker</b>
  <b>weight  : 1-4pounds</b>
  <b>lifespan: 10-16yers</b>
  <b>Height  : 10-40Cms</b>
  <b>Price  :.....</b>
  </pre>
    </div>
    </div>

    <div class="col-md-4 col-12 mx-auto"> 
    <div  class="card text-center" >
      <div class="text-center">
        <a href="/gallery"><img class="dog-img mt-2" src="images/woodpecker.jpg" alt="" ></a>
        </div>
      <h3>Woodpecker</h3>
   <pre class="dog-info">
  <b>Name    : Woodpecker</b>
  <b>weight  : 1-4pounds</b>
  <b>lifespan: 10-16yers</b>
  <b>Height  : 10-40Cms</b>
  <b>Price  :.....</b>
  </pre>

</div>
</div>


</div>

  </div>


<%- include("partials/footer"); -%>
