<%- include("partials/header"); -%>


<div class="container-fluid col-11 p-2 mb-5">
  <div class="row gy-3">

    <% data.map(function(row){ %>
    <div class="col-md-4 col-12 mx-auto " data-aos="zoom-in">
      <div class="card text-center main-cd">
        <a href="/gallery"><img class="dog-img  m-3" <%- row.img %> alt="images"> </a>
      </div>
      <div class="container-fluid">
        <table class="table">
          <tr>
            <th scope="row">
              <h2> Name </h2>
            </th>
            <td>
              <h2> <%= row.Name %> </h2>
            </td>

          </tr>
          <tr>
            <th scope="row">weight </th>
            <td> <%= row.lifespan %> </td>
          </tr>
          <tr>
            <th scope="row"> lifespan </th>
            <td><%= row.weight %> </td>
          </tr>
          <tr>
            <th scope="row">Height </th>
            <td><%= row.height %> </td>
          </tr>
          <tr>
            <th scope="row">Price </th>
            <td><%= row.price %></td>
          </tr>
        </table>
      </div>
    </div>
    <% }) %>
  </div>
</div>







<%- include("partials/footer"); -%>