<%- include("partials/header"); -%>

<div className="container-fluid m-2">
  <div className="row m-2">
      <div class="col-md-8 col-12 mx-auto m-2 p-2">

  <table class="table tbl">


        <tbody>
          <% userdata.forEach(function(row){ %>
          <div class="text-center">
              <p class="myname"><%= row.displayName %>  </p>
            </div>

          <tr>
            <th scope="row">Name</th>
            <td><%= row.displayName %></td>
            </tr>
              <tr>

            <th scope="row">Email</th>
            <td><%= row.username %></td>
                  </tr>

              <tr>
            <th scope="row">Address</th>
            <td><%= row.address%></td>
                </tr>
                <tr>

              <th scope="row">Mobile No</th>
            <td><%= row.mobile %></td>
          </tr>
          <% }) %>
          <tr>
            <th>
                <a class="btn btn-primary" href="/update">UPDATE PROFILE </a> </th>
                <td>
  <a class="btn btn-primary" href="/LOGOUT"> LOG OUT </a>
                  </td>

            </tr>
        </tbody>
      </table>
</div>
      </div> 

</div>





<!-- 


      <div className="container-fluid">
        <div className="row">
            <div class="col-md-6 col-12 mx-auto">

  <% userdata.forEach(function(row){ %>

    <div class="text-center">
                  <p class="myname"><%= row.displayName %>  </p>
                </div>

 <div class="row" data-aos="zoom-in">

<b> Name:</b>
 <i>  <%= row.displayName %>     </i>
 </div>
 <div class="row d-flex" data-aos="zoom-in">

   <b> Email: </b>
  <i><%= row.username %>     </i>
 </div>
<div class="row d-flex" data-aos="zoom-in">

  <b> Adress: </b>
   <i><%= row.address%>     </i>
</div>
<div class="row" data-aos="zoom-in">
<b> Mobile:</b>

<i> <%= row.mobile %> </i>

</div>
<div class="row">
  <a class="btn btn-primary" href="/update">UPDATE PROFILE </a>
</div>

<div class="row">
  <a class="btn btn-primary" href="/LOGOUT"> LOGOUT  </a>


</div>






  <% }) %>
  </div>

            </div>
              </div>
           -->























<%- include("partials/footer"); -%>
